body {
    background-color: #CCCCCC;
}

#content {
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    background-color: white;
}

table.results {
    border: 1px solid black;
}
    table.results th {
        padding: 3px 10px;
        border: 1px solid black;
    }
    table.results td {
        padding: 3px 10px;
        border: 1px solid black;
    }
    table.results td.numeric {
        text-align: center;        
    }
